@model WebsiteNhaHang.Models.TaiKhoan

<div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="@Url.Content("~/Content/img/TaiKhoan/" + Model.HinhAnh)" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
        <h1 class="h4">Xin Chào</h1>
        <p>@Model.TenNguoiDung</p>
    </div>
</div>

