* {
  margin: 0;
  padding: 0; }

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%; } }

.home .row-one {
  width: 100%;
  height: 6in;
  margin: auto; }
  .home .row-one .col-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; }
  .home .row-one .col-img-1 {
    background-image: url("../photoHome/14 Best Restaurants In Iceland To Visit.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right; }

.home .row-second {
  width: 100%;
  height: 6in;
  margin: auto; }
  .home .row-second .box-img-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .home .row-second .box-img-2 .img {
      width: 80%;
      height: 80%; }
      .home .row-second .box-img-2 .img img {
        max-width: 100%;
        height: 100%; }
  .home .row-second .box-content {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0f9ea2; }
    .home .row-second .box-content .content {
      margin: 10% 10%; }
      .home .row-second .box-content .content h3 {
        text-align: left;
        color: white;
        margin-bottom: 30px; }
      .home .row-second .box-content .content p {
        text-align: justify;
        color: white;
        font-size: 20px; }

.home .row-three {
  width: 100%;
  height: 6in;
  margin: auto; }
  .home .row-three .box-img-3 {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .home .row-three .box-img-3 .img {
      width: 80%;
      height: 80%; }
      .home .row-three .box-img-3 .img img {
        max-width: 100%;
        height: 100%;
        padding: 5px 0px; }
  .home .row-three .box-content {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0f9ea2; }
    .home .row-three .box-content .content {
      margin: 10% 10%; }
      .home .row-three .box-content .content h3 {
        text-align: left;
        color: white;
        margin-left: 30px;
        margin-bottom: 30px; }
      .home .row-three .box-content .content ul li {
        text-align: justify;
        color: white;
        font-size: 20px; }

.home .row-four {
  width: 100%;
  height: 6in;
  margin: auto; }
  .home .row-four .box-img-3 {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .home .row-four .box-img-3 .img {
      width: 80%;
      height: 80%; }
      .home .row-four .box-img-3 .img img {
        max-width: 100%;
        height: 100%;
        padding: 5px 0px; }
  .home .row-four .box-content {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .home .row-four .box-content .content {
      margin: 10% 10%; }
      .home .row-four .box-content .content h3 {
        text-align: left;
        color: black;
        margin-left: 30px;
        margin-bottom: 30px; }
      .home .row-four .box-content .content ul li {
        text-align: justify;
        color: black;
        list-style: none;
        font-size: 20px; }
      .home .row-four .box-content .content ul .date {
        font-weight: 700; }

.body-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body-login #loginForm {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .body-login #loginForm .form-horizontal {
      width: 80%;
      height: auto;
      border: 2px solid #0f9ea2;
      border-radius: 40px;
      padding: 30px;
      position: relative; }
      .body-login #loginForm .form-horizontal h2 {
        color: #0f9ea2;
        position: absolute;
        top: -25;
        background-color: white;
        padding: 0 5px; }
      .body-login #loginForm .form-horizontal .form-group {
        margin: 15px 0; }
        .body-login #loginForm .form-horizontal .form-group .control-label {
          color: #4c4c4c;
          margin-bottom: 10px; }
        .body-login #loginForm .form-horizontal .form-group .form-control:focus {
          box-shadow: none; }
        .body-login #loginForm .form-horizontal .form-group ul {
          display: flex;
          align-items: center;
          justify-content: center; }
          .body-login #loginForm .form-horizontal .form-group ul li {
            display: inline;
            list-style: none;
            margin: 0 10px; }
            .body-login #loginForm .form-horizontal .form-group ul li label {
              color: #4c4c4c; }
            .body-login #loginForm .form-horizontal .form-group ul li a {
              text-decoration: none;
              color: #4c4c4c; }
            .body-login #loginForm .form-horizontal .form-group ul li a:hover {
              text-decoration: underline; }
        .body-login #loginForm .form-horizontal .form-group .btnLogin {
          display: flex;
          margin: auto;
          font-weight: 500;
          padding: 0 20px;
          height: 40px;
          border-radius: 40px;
          background-color: #0f9ea2;
          color: white;
          font-size: 20px;
          border: none;
          outline: none; }

.body-register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body-register #registerForm {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .body-register #registerForm .form-horizontal {
      width: 80%;
      height: auto;
      border: 2px solid #0f9ea2;
      border-radius: 40px;
      padding: 30px;
      position: relative; }
      .body-register #registerForm .form-horizontal h2 {
        color: #0f9ea2;
        position: absolute;
        top: -25;
        background-color: white;
        padding: 0 5px; }
      .body-register #registerForm .form-horizontal .form-group {
        margin: 15px 0; }
        .body-register #registerForm .form-horizontal .form-group .control-label {
          color: #4c4c4c;
          margin-bottom: 10px; }
        .body-register #registerForm .form-horizontal .form-group .form-control:focus {
          box-shadow: none; }
        .body-register #registerForm .form-horizontal .form-group .btnRegister {
          display: flex;
          margin: auto;
          font-weight: 500;
          padding: 0 20px;
          height: 40px;
          border-radius: 40px;
          background-color: #0f9ea2;
          color: white;
          font-size: 20px;
          border: none;
          outline: none; }
